body  {
    background-image: url("./../imagens/cabecalhos_back.png");
    background-repeat: repeat-y;
    background-color: #fff7d4; 
    margin-left: 160px;
    margin-right: 40px;
    margin-top: 20px;
    
  }

  h1 {
      padding: 15px;
      font-size: 50px;
      font-weight: bolder;
      color: #8f6800;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    h2{
        padding: 15px;
        font-size: 30px;
        font-weight: bolder;
        color: #8f6800;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        text-indent: 45px;
        font-size: 20px;
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    h3{
        padding: 10px;
        font-weight: bolder;
        color: aliceblue;
        background-color: #d48d00;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p.Linha1{
        
        border-bottom: dashed;
        border-color: #d48d00;
        border-width: 4px;
        margin-bottom: 60px;
    }